
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root{

    /* theme 1 colors */
    --Very-dark-desaturated-blue-main-background: hsl(222, 26%, 31%);
    --Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(223, 31%, 20%);
    --Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);
    --White-text: hsl(0, 0%, 100%);
    --Red-key-background-toggle: hsl(6, 63%, 50%);
    --Verydark-desaturated-blue-screen-background: hsl(224, 36%, 15%);
    --Very-dark-grayish-blue: hsl(221, 14%, 31%);
    --Desaturated-dark-blue-shadow: hsl(224, 28%, 35%);
}

/* theme two color keys */

.marrrrkcol{
    color:  hsl(0, 0%, 90%) /*mainbg*/;
    color:  hsl(0, 5%, 81%) /*keypad*/;
    color: hsl(185, 42%, 37%) /*key bg*/;
    color: hsl(185, 58%, 25%) /*key shadow*/;
    color: hsl(25, 98%, 40%) /*key bg*/;
    color:  hsl(25, 99%, 27%)  /*key shadow*/;
    color: hsl(45, 7%, 89%) /*key bg*/;
    color:  hsl(35, 11%, 61%) /*key shadow*/;
    color:  hsl(60, 10%, 19%)/*text*/;
    color: hsl(0, 0%, 100%) /*text*/;



}

/* theme three color keys */

.markthhh{
    color:  hsl(268, 75%, 9%); /*mainbg*/
    color: hsl(268, 71%, 12%); /*keypad and screen*/;
    color: hsl(281, 89%, 26%); /*key*/;
    color: hsl(285, 91%, 52%); /*key shadow*/;
    color: hsl(176, 100%, 44%); /*kebg*/;
    color:  hsl(177, 92%, 70%) /*keshadow*/;
    color: hsl(268, 47%, 21%) /*kebg*/;
    color: hsl(290, 70%, 36%) /*keshadow*/;
    color: hsl(52, 100%, 62%) /*text*/;
    color: hsl(198, 20%, 13%);/*text*/
    color:  hsl(0, 0%, 100%) /*white text*/
   
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body{
    background: var(--Very-dark-desaturated-blue-main-background);
}

.body.themeTwo{
    background: hsl(0, 0%, 90%) ;
}

.body.themeThree{
    background: hsl(268, 75%, 9%);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    row-gap: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.cal-container span{
    color:  var(--White-text);
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
}

.right-head-conntainer{
    display: flex;
    /* align-items: flex-end; */
    gap:20px;
}

.theme-container span{
    color: var(--White-text);
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

#theme-text.themeTwo{
    color: hsl(60, 10%, 19%);
}

#theme-text.themeThree{
    color: hsl(52, 100%, 62%);
}

#calc.themeTwo{
    color: hsl(60, 10%, 19%);
}
#calc.themeThree{
    color: hsl(52, 100%, 62%);
}

.indicator-number-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 50px;
    position: absolute;
    margin-top: -25px;
    margin-left: 8px;
    color: var(--White-text);
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.indicator-numer.themeTwo{
    color: hsl(60, 10%, 19%);
}

.indicator-numer.themeThree{
    color: hsl(52, 100%, 62%);
}

.theme-color-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    gap: 5px;
    height: 25px;
    border-radius: 25px;

    /* toggling function to control the theme */
    background: var(--Very-dark-desaturated-blue-screen-background);
}

 .theme-color-container.themeTwo{
    background: hsl(0, 5%, 81%);
 }
.theme-color-container.themeThree{
    background: hsl(268, 71%, 12%);
}

.theme-color-container button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: none;
    border: none;
}

.theme-color-container button:hover{
    cursor: pointer;
}

#theme-butTwo.themeTwo{
    color: var(--Red-key-background-toggle);
}

#theme-butThree.themeThree{
    color: var(--Red-key-background-toggle);
}

.display-container{
    display: flex;
    align-items: center;
    width: 500px;
    padding: 15px;
    min-height: 75px;
    border-radius: 8px;
    background: var(--Verydark-desaturated-blue-screen-background) ;
}

.display-container.themeTwo{
    background: hsl(0, 0%, 93%);
}
 .display-container.themeThree{
    background: hsl(268, 71%, 12%);
 }

.display-container input{
    color: var(--White-text);
    font-family: 'League Spartan', sans-serif;
    text-align: right;
    font-size: 45px;
    height: 100%;
    width: 100%;
    border: none;
    background: var(--Verydark-desaturated-blue-screen-background);
}
 #screen.themeTwo{
    background: hsl(0, 0%, 93%);
    color: hsl(60, 10%, 19%);
}

#screen.themeThree{
    background: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
 } 

.keyboard-container{
    display: grid;
    grid-template-areas: 'Aone Atwo Athree Afour'
                         'Bone Btwo Bthree Bfour'
                         'Cone Ctwo Cthree Cfour'
                         'Done Dtwo Dthree Dfour'
                         'Reset Reset Equal Equal';
    background: var(--Very-dark-desaturated-blue-toggle-background-keypad-background);
    width: 500px;
    height: 450px;
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 8px;
    padding: 20px;
}

.keyboard-container.themeTwo{
    background: hsl(0, 5%, 81%);
}
.keyboard-container.themeThree{
    background: hsl(268, 71%, 12%);
 } 

.keyboard-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    color:  var(--Very-dark-grayish-blue);
    font-family: 'League Spartan', sans-serif;
    text-align: right;
    font-size: 36px;
    font-weight: 700px;
    background: hsl(30, 25%, 89%);
    border: none;
    box-shadow: 0px 5px 0px hsl(28, 16%, 65%);
}

.btn.themeTwo{
    background: hsl(45, 7%, 89%);
    color: hsl(60, 10%, 19%);
    box-shadow: 0px 5px 0px hsl(35, 11%, 61%);
}
.btn.themeThree{
    background:  hsl(268, 47%, 21%);
    color: hsl(52, 100%, 62%) ;
    box-shadow: 0px 5px 0px hsl(290, 70%, 36%);
} 


.keyboard-container button:hover{
    cursor: pointer;
}

#seven{
    grid-area: Aone;
}
#eight{
    grid-area: Atwo;
}

#nine{
    grid-area: Athree;
}

#del{
    grid-area: Afour;
    background: hsl(225, 21%, 49%);
    color: var(--White-text);
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
}

#del.themeTwo{
    background: hsl(185, 42%, 37%); 
    box-shadow: 0px 5px 0px hsl(185, 58%, 25%);
}

#del.themeThree{
    background:  hsl(281, 89%, 26%);
    box-shadow: 0px 5px 0px hsl(285, 91%, 52%);
    color: hsl(0, 0%, 100%);
}

#four{
    grid-area: Bone;
}

#five{
    grid-area: Btwo;
}

#six{
    grid-area: Bthree;
}

#plus{
    grid-area: Bfour;
}

#one{
    grid-area: Cone;
}

#two{
    grid-area: Ctwo;
}

#three{
    grid-area: Cthree;
}

#minus{
    grid-area: Cfour;
}

#point{
    grid-area: Done;
}

#zero{
    grid-area: Dtwo;
}

#divide{
    grid-area: Dthree;
}

#times{
    grid-area: Dfour;
}


#reset{
    grid-area: Reset;
    background: hsl(225, 21%, 49%);
    color: var(--White-text);
    width: 220px;
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
}

#reset.themeTwo{
    background: hsl(185, 42%, 37%); 
    box-shadow: 0px 5px 0px hsl(185, 58%, 25%);
}

#reset.themeThree{
    background:  hsl(281, 89%, 26%);
    box-shadow: 0px 5px 0px hsl(285, 91%, 52%);
    color: hsl(0, 0%, 100%);
}

#equal{
    grid-area: Equal;
    color: var(--White-text);
    width: 220px;
    background: var(--Red-key-background-toggle);
    box-shadow: 0px 5px 0px hsl(6, 70%, 34%);
}

#equal.themeTwo{
    background: hsl(25, 98%, 40%);
    box-shadow: 0px 5px 0px  hsl(25, 99%, 27%);
}

#equal.themeThree{
    background:  hsl(176, 100%, 44%);
    box-shadow: 0px 5px 0px  hsl(177, 92%, 70%);
    color: hsl(0, 0%, 100%);
}

.attribution {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -100px;
     font-size: 11px; 
     text-align: center; 
    }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 400px){
    .body{
        width: 100%;
    } 

    .main{
        justify-content: center;
        align-items: baseline;
        padding: 20px;
        height: auto;
        margin-top: 40px;
    }

    .header{
        width: 100%;
    }

    .display-container{
        width: 100%;
    }

    .keyboard-container{
        width: 100%;
        height: auto;
    }

    .keyboard-container button{
        width: 55px;
        height: 60px;
        font-size: 24px;
    }

    #reset,
    #equal{
       width: 135px;
       height: 60px;
    }

    .attribution{
        margin-top: -10px;
    }


}